/beautifulsoup.py
/cart button.php
/churnwoo.py
/clothmysql.py
/CREATE DATABASE bob.sql
/explore_data.py
/giah.py
/immsql.3.py
/import mysql.2.py
/import mysql.py
/import mysql44444.py
/import pitza mysql.py
/index.html
/mypvbot.py
/nlp
/p.m
/pitzaforushi2.py
/pitzamysql.py
/pizafunc.py
/pizayemodeldg.py
/pizza.py
/pizzzzzzzzza.py
/print('bye').py
/print('hi').py
/requirements-telegram-bot[ext].txt
/scrap.py
/sklearn2_linear_Regrisson.ipynb
/tabaye.py
/tamrinmysql.py
/tamtraf.py
/__pycache__